<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th><%= Member.human_attribute_name :full_name %></th>
    <th><%= Member.human_attribute_name :nick %></th>
    <th><%= Member.human_attribute_name :posts %></th>
    <th><%= t('operations') %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @group.get_active_memberships %>
  </tbody>
</table>