<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th><%= Member.human_attribute_name :full_name %></th>
    <th><%= Member.human_attribute_name :nick %></th>
    <th><%= Member.human_attribute_name :posts %></th>
    <th><%= t('operations') %></th>
  </tr>
  </thead>
  <tbody>
  <% memberships.each do |ms| %>
      <tr>
        <td><%= link_to ms.member.full_name, ms.member %></td>
        <td><%= ms.member.nick %></td>
        <td></td>
        <td><%= link_to t("edit"), group_admin_membership_posts_path(ms) %></td>
      </tr>
  <% end %>
  </tbody>
</table>