<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th><%= Member.human_attribute_name :full_name %></th>
    <th><%= Member.human_attribute_name :nick %></th>
    <th>Posztok</th>
    <th><%= t('operations') %></th>
  </tr>
  </thead>
  <tbody>
  <% memberships.each do |ms| %>
      <tr>
        <td><%= link_to ms.member.full_name, ms.member %></td>
        <td><%= ms.member.nick %></td>
        <td><%# ms.posts.map(&:title).join ", " %></td>
        <td>
          <%= link_to t('memberships_change_to_old'),
                change_to_old_membership_url(:id => ms.id),
                :class => 'btn btn-mini btn-warning',
                :title => t('memberships_change_to_old'),
                :confirm => t('memberships_change_to_old_confirm'),
                :remote => true
          %>
          <%= link_to t('destroy'),
                delete_membership_url(:id => ms.id),
                :class => 'btn btn-mini btn-danger',
                :title => t('destroy'),
                :confirm => t('memberships_delete_confirm'),
                :remote => true
          %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>