<%= render "shared/form_error", model: @post %>

<%= form_for [:group_admin, @post] do |f| %>
  <%= hidden_field_tag :membership_id, @membership.id %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :from %>
  <%= f.date_select :from, { start_year: 2000, end_year: Date.today.year, use_short_month: true }, :class => 'date' %>

  <div style="padding-bottom: 15px;">
	<label class="checkbox">
      <%= f.check_box :old_post %> Korábbi poszt
    </label>
  </div>

  <div id="post_to_field">
	  <%= f.date_select :to, { start_year: 2000, end_year: Date.today.year, use_short_month: true }, :class => 'date' %>
  </div>

  <div>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end -%>