<% url = params[:action] == "edit" ? group_admin_membership_post_path(@post.membership, @post) : group_admin_membership_posts_path(@post.membership) -%>

<% unless @post.errors.empty? %>
<div class="error">
  <p>Hibásak a magadott adatok</p>
  <ul>
    <% @post.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end -%>
  </ul>
</div>
<% end -%>

<%= nested_form_for @post, :url => url, :html => {:class => "form-horizontal"} do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :from_date, :class => "control-label" %>
    <div class="controls">
      <%= f.date_select :from_date, :start_year => 1990,
                                    :end_year => Date.today.year %>
    </div>
  </div>

  <h3>Josultságok</h3>
  <%= f.fields_for :permissions %>
  <div class="control-group"></div>
  <%= f.link_to_add t("ability.label.new"), :permissions %>
  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end -%>