<div class="control-group">
  <%= f.label :resource, :class => "control-label" %>
  <div class="controls">
    <%# resources are located in MemberPost model %>
    <%= f.select :resource, @resources %>
  </div>
</div>
<div class="control-group">
  <label><% t "abilities" %></label>
  <div class="controls">
    <%= ability_selector f %>
    <a href="javascript:void(0)" name="manage_link"><%= t "ability.manage" %></a>
   </div>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.link_to_remove t("ability.label.remove") %>
  </div>
</div>
