<h2><%= @membership.member.full_name %> posztjai a 
  <%= @membership.group.shortname %> körben</h2>

<%= link_to "Új poszt", new_group_admin_membership_post_path(@membership) %>

<table class="table">
  <thead>
    <tr>
      <th>Megnevezés</th>
      <th>Jogosultságok</th>
      <th><%= t "operations" %></th>
    </tr>
  </thead>
  <tbody>
    <% if @membership.posts.empty? %>
      <p>Ennek a tagnak nincsenek posztjai a körön belül</p>
    <% end -%>

    <% @membership.posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td>
          <ul>
            <% post.permissions.each do |perm| %>
              <li>
                <span><%= t("resources." + perm.resource) %></span>
                <span>(<%= ability_list(perm) %>)</span>
              </li>
            <% end -%>
          </ul>
        </td>
        <td>
          <%= link_to t("edit"), edit_group_admin_membership_post_path(@membership, post) %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

