<%- model_class = Group -%>

<% content_for :operations do %>
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Műveletek</li>
        <li><%= link_to "Link1", "/path1" %></li>
      </ul>
    </div>
<% end %>

<% if flash[:notice] %>
    <div class="alert alert-info"><%= flash[:notice] %></div>
<% end %>

<% if flash[:success] %>
    <div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<% if flash[:error] %>
    <div class="alert alert-error"><%= flash[:error] %></div>
<% end %>

<div class="page-header">
  <h2><%= @group.name %></h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @group.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:founded) %>:</strong></dt>
  <dd><%= @group.founded %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @group.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mail_list) %>:</strong></dt>
  <dd><%= @group.mail_list %></dd>
  <dt><strong><%= model_class.human_attribute_name(:shortname) %>:</strong></dt>
  <dd><%= @group.shortname %></dd>
  <% if is_member_in_group(@group, @user, true) %>
      <dt><%= t('operations') %>:</dt>
      <dd>
        <%= button_to t('group_leave'), {:action => 'leave'},
                      {:class => "btn btn-mini btn-danger"} %>
      </dd>
  <% else
       unless is_member_in_group(@group, @user, nil) %>
          <dt><%= t('operations') %>:</dt>
          <dd>
            <%= button_to t('group_join'), {:action => 'join'},
                          {:class => "btn btn-mini btn-success"} %>
          </dd>
      <% end %>
  <% end %>

</dl>

<ul class="nav nav-tabs">
  <li id="tab-members-present" class="active">
    <%= link_to t('memberships_current_members'),
                {:controller => 'groups',
                 :action => 'get_memberships_tab_content',
                 :tab => 'present'},
                :remote => true %>
  </li>
  <li id="tab-members-old">
    <%= link_to t('memberships_old_members'),
                {:controller => 'groups',
                 :action => 'get_memberships_tab_content',
                 :tab => 'old'},
                :remote => true %>
  </li>
  <li id="tab-members-pending">
    <%= link_to t('memberships_pending', :count => @group.get_pending_memberships.count),
                {:controller => 'groups',
                 :action => 'get_memberships_tab_content',
                 :tab => 'pending'},
                :remote => true %>
  </li>
</ul>

<div id="content-memberships">
  <%= render 'memberships/active_memberships' %>
</div>

<div class="form-actions">
  <%= link_to t('back'),
              groups_path, :class => 'btn' %>
  <%= link_to t('edit'),
              edit_group_path(@group), :class => 'btn' %>
</div>
