<%- model_class = Group -%>

<% content_for :operations do %>
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <%# TODO: authorize stuff %>
        <li class="nav-header">Műveletek</li>
        <% if valuation_period? %>
          <li><%= link_to "Tagok féléves értékelése", group_admin_valuations_path(:group_id => @group) %></li>
        <% end -%>
      </ul>
    </div>
<% end %>

<div class="page-header">
  <h2><%= @group.name %></h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @group.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:founded) %>:</strong></dt>
  <dd><%= @group.founded %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @group.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mail_list) %>:</strong></dt>
  <dd><%= @group.mail_list %></dd>
  <dt><strong><%= model_class.human_attribute_name(:shortname) %>:</strong></dt>
  <dd><%= @group.shortname %></dd>
  <dt><%= t('operations') %>:</dt>
  <dd>
    <div>
      <%=
          # TODO: permission check
          link_to t('edit'),
                  edit_group_path(@group),
                  :class => 'btn btn-mini btn-info',
                  :title => t('edit')
      %>
      <%=
          if @group.has_member?(@user) # if active member
            link_to t('group_leave'), {:action => 'leave'},
                    :method => :post,
                    :class => "btn btn-mini btn-danger"
          else 
            # hide if pending
            unless @group.memberships.pending.where(:member_id => @user).any?
              link_to t('group_join'), {:action => 'join'},
                      :method => :post,
                      :class => "btn btn-mini btn-success"
            end

          end
      %>
    </div>
  </dd>
</dl>

<ul class="nav nav-tabs">
  <li id="tab-members-active_memberships" class="active">
    <%= link_to t('memberships_current_members'),
                {:controller => 'groups',
                 :action => 'get_memberships_tab_content',
                 :tab => 'active_memberships'},
                :remote => true %>
  </li>
  <li id="tab-members-old_memberships">
    <%= link_to t('memberships_old_members'),
                {:controller => 'groups',
                 :action => 'get_memberships_tab_content',
                 :tab => 'old_memberships'},
                :remote => true %>
  </li>
  <li id="tab-members-pending_memberships">
    <%= link_to t('memberships_pending', :count => @group.memberships.pending.count),
                {:controller => 'groups',
                 :action => 'get_memberships_tab_content',
                 :tab => 'pending_memberships'},
                :remote => true %>
  </li>
</ul>

<div id="content-memberships">
  <%= render :partial => 'memberships/active_memberships',
             :locals => {:memberships => @group.memberships.active} %>
</div>
