<%- model_class = Group -%>

<% content_for :operations do %>
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <%# TODO: authorize stuff %>
        <li class="nav-header">Műveletek</li>
        <% if valuation_period? %>
          <li><%= link_to raw('<i class="icon-star"></i>') + "Tagok féléves értékelése",
                    group_admin_valuations_path(:group_id => @group) %></li>
        <% end -%>

        <li><%= link_to raw('<i class="icon-tags"></i>') + "Posztok admin",
                    group_admin_posts_path(:group_id => @group) %></li>

        <% if true #TODO permission check %>
          <li><%= link_to raw('<i class="icon-pencil"></i>') + t('edit'),
                    edit_group_path(@group), :title => t('edit') %></li>
        <% end %>
        <li><%=
            if @group.has_member?(@user) # if active member
              link_to raw('<i class="icon-share"></i>') + t('group_leave'), {:action => 'leave'}, :method => :post
            else
              # hide if pending
              unless @group.memberships.pending.where(:member_id => @user).any?
                link_to raw('<i class="icon-plus-sign"></i>') + t('group_join'), {:action => 'join'}, :method => :post
              end
            end
        %></li>
      </ul>
    </div>
<% end %>

<div class="page-header">
  <h2><%= @group.name %></h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @group.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:founded) %>:</strong></dt>
  <dd><%= @group.founded %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @group.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mail_list) %>:</strong></dt>
  <dd><%= @group.mail_list %></dd>
  <dt><strong><%= model_class.human_attribute_name(:shortname) %>:</strong></dt>
  <dd><%= @group.shortname %></dd>
</dl>

<ul class="nav nav-tabs">
  <li id="tab-members-active_memberships" class="active">
    <%= link_to t('memberships_current_members'),
                {:controller => 'groups',
                 :action => 'get_memberships_tab_content',
                 :tab => 'active_memberships'},
                :remote => true %>
  </li>
  <li id="tab-members-old_memberships">
    <%= link_to t('memberships_old_members'),
                {:controller => 'groups',
                 :action => 'get_memberships_tab_content',
                 :tab => 'old_memberships'},
                :remote => true %>
  </li>
  <li id="tab-members-pending_memberships">
    <%= link_to t('memberships_pending', :count => @group.memberships.pending.count),
                {:controller => 'groups',
                 :action => 'get_memberships_tab_content',
                 :tab => 'pending_memberships'},
                :remote => true %>
  </li>
</ul>

<div id="content-memberships">
  <%= render :partial => 'memberships/active_memberships',
             :locals => {:memberships => @group.memberships.active.includes(:member).order('members.full_name')} %>
</div>
