<%- model_class = Group -%>

<% content_for :operations do %>
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Műveletek</li>
        <% if valuation_period? and permitted_to?(:edit, Valuation, @group) %>
          <li><%= link_to raw('<i class="icon-star"></i>') + "Tagok féléves értékelése",
                    group_admin_valuations_path(:group_id => @group) %></li>
        <% end -%>

        <% if permitted_to?(:manage, Post, @group) %>
          <li><%= link_to raw('<i class="icon-tags"></i>') + "Posztok admin",
                    group_admin_posts_path(:group_id => @group) %></li>
        <% end %>

        <% if permitted_to?(:update, Group, @group) %>
          <li><%= link_to raw('<i class="icon-pencil"></i>') + t('edit'),
                    edit_group_path(@group), :title => t('edit') %></li>
        <% end %>
        <li><%=
            unless @group.has_member?(@user) || @group.memberships.pending.where(:member_id => @user).any?
                link_to raw('<i class="icon-plus-sign"></i>') + t('group_join'), {:action => 'join'}, :method => :post
            end
        %></li>
      </ul>
    </div>
<% end %>

<% content_for :stat_sidebar do %>
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Statisztika</li>
          <li><i class="icon-user"></i> Tagok: <%= @group.memberships.active.count %></li>
          <% if permitted_to?(:manage, Membership, @group) %>
            <li><i class="icon-time"></i> Elfogadásra vár: <%= @group.memberships.pending.count %></li>
          <% end %>
          <li><i class="icon-heart"></i> Öregtagok: <%= @group.memberships.old.count %></li>
      </ul>
    </div>
<% end %>

<div class="page-header">
  <h2><%= @group.name %></h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @group.name %></dd>

  <% unless @group.founded.nil? %>
    <dt><strong><%= model_class.human_attribute_name(:founded) %>:</strong></dt>
    <dd><%= @group.founded %></dd>
  <% end %>

  <% unless @group.url.empty? %>
    <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
    <dd><%= @group.url %></dd>
  <% end %>

  <% unless @group.mail_list.empty? %>
    <dt><strong><%= model_class.human_attribute_name(:mail_list) %>:</strong></dt>
    <dd><%= @group.mail_list %></dd>
  <% end %>

  <% unless @group.shortname.empty? %>
    <dt><strong><%= model_class.human_attribute_name(:shortname) %>:</strong></dt>
    <dd><%= @group.shortname %></dd>
  <% end %>
</dl>

<ul class="nav nav-tabs">
  <li id="tab-members-active_memberships" class="active">
    <%= link_to t('memberships_current_members'),
                {:controller => 'groups',
                 :action => 'get_memberships_tab_content',
                 :tab => 'active_memberships'},
                :remote => true %>
  </li>
  <li id="tab-members-old_memberships">
    <%= link_to t('memberships_old_members'),
                {:controller => 'groups',
                 :action => 'get_memberships_tab_content',
                 :tab => 'old_memberships'},
                :remote => true %>
  </li>
  <% if permitted_to?(:manage, Membership, @group) %>
    <li id="tab-members-pending_memberships">
      <%= link_to t('memberships_pending', :count => @group.memberships.pending.count),
                  {:controller => 'groups',
                   :action => 'get_memberships_tab_content',
                   :tab => 'pending_memberships'},
                  :remote => true %>
    </li>
  <% end %>
</ul>

<div id="content-memberships">
  <%= render :partial => 'memberships/active_memberships',
             :locals => {:memberships => @group.memberships.active.includes(:member).order('members.full_name')} %>
</div>
