<%- model_class = Group -%>
<div class="page-header">
  <h2><%= @group.name %></h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @group.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:founded) %>:</strong></dt>
  <dd><%= @group.founded %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @group.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mail_list) %>:</strong></dt>
  <dd><%= @group.mail_list %></dd>
  <dt><strong><%= model_class.human_attribute_name(:shortname) %>:</strong></dt>
  <dd><%= @group.shortname %></dd>
  <% unless is_member_in_group(@group, @user) %>
      <dt>Lehetőségek:</dt>
      <dd>
        <%= button_to 'Csatlakozás', {:action => 'join'},
                      {:class => "btn btn-mini btn-success"} %>
      </dd>
      </dl>
  <% end %>
  <div>
  </div>

  <%= render @group.get_active_memberships %>
  <table class="table table-hover">
    <tbody>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </tbody>
  </table>

  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                groups_path, :class => 'btn' %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_group_path(@group), :class => 'btn' %>
  </div>
