<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">
        <span class="app-name">Simonyi Címtár</span>
      </a>

      <a href="#" class="notification-indicator">
        <span class="mail-status"></span>
      </a>

      <div class="nav-collapse">
        <form class="navbar-search pull-left" action="">
          <input type="text" class="search-query span2" placeholder="Keresés">
        </form>

        <%= link_to("/admin", {:class => 'app-admin-icon'}) do %>
          <span class="icon-cog icon-large">&nbsp;</span>
        <% end %>

        <ul class="nav pull-right">
          <% unless @user.nil? %>
              <li>
                <%= link_to(@user, :class => 'navbar-link-to-profile') do %>
                    <%= image_tag @user.gravatar_url(:size => 20),
                                  :alt => '', :width => 20 %>
                    <span><%= @user.full_name %></span>
                <% end %>
              </li>
              <li class="divider-vertical"></li>
              <li>
                <%= link_to "Kilépés", :controller => "members", :action => "logout" %>
              </li>
          <% end %>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>