<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/head_content' %>
</head>
<body>

<%= render 'layouts/user_navbar' %>

<div class="container">
  <div class="content">
    <div class="row">
      <div class="span9">
        <%= render "shared/valuation_period" if valuation_period? %>
        <%= render "shared/flash_message" %>
        <%= yield %>
      </div>
      <div class="span3">

        <%= yield :operations %>

        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Események</li>
            <li><%= link_to "Link1", "/path1" %></li>
          </ul>
        </div>

        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Gépház</li>
            <li><%= link_to "Link1", "/path1" %></li>
          </ul>
        </div>
        <!--/.well -->
      </div>
      <!--/span-->
    </div>
    <!--/row-->
  </div>
  <!--/content-->

  <footer>
    <p>&copy; Kir-Dev <%= Date.today.year %></p>
  </footer>

</div>
<!-- /container -->

<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "application" %>

<% if Rails.env.development? %>
    <div>
      <br/><br/>
      <input type="button" onclick="$('#request_env_div').toggle();" value="REQUEST"/>
      <pre style="display: none;" id="request_env_div">
        <%= request.env.inspect.tr('"", ""', "\",\n\"") %>
      </pre>
    </div>
<% end %>

</body>
</html>
