<%= form_for @member, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :full_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :full_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :room, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :room, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :intro, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :intro, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :univ_year, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :univ_year, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hobby, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hobby, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :deleted, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :deleted, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :login, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :login, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nick, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nick, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                members_path, :class => 'btn' %>
  </div>
<% end %>
