<h1>Listing members</h1>

<table>
  <tr>
    <th>Fullname</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Room</th>
    <th>Address</th>
    <th>Intro</th>
    <th>Univyear</th>
    <th>Hobby</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.full_name %></td>
    <td><%= member.email %></td>
    <td><%= member.phone %></td>
    <td><%= member.room %></td>
    <td><%= member.address %></td>
    <td><%= member.intro %></td>
    <td><%= member.univ_year %></td>
    <td><%= member.hobby %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
