<%- model_class = Member -%>

<div class="row">
  <div class="span3">
    <%= image_tag @member.gravatar_url(:size => 270),
                  :class => 'profile-img', :alt => '', :width => 270 %>

    <div class="profile-nick">
      <strong>
        <%= best_in_place @member, :nick, :type => :input %>
      </strong>
    </div>
  </div>
  <div class="span6">
    <h2>
      <%= best_in_place_if false, @member, :full_name, :type => :input %>
    </h2>

    <table id="member-data" class="table table-bordered">
      <tr>
        <td><label>E-mail:</label></td>
        <td><%= best_in_place @member, :email, :type => :input %></td>
      </tr>
      <tr>
        <td><label>Telefonszám:</label></td>
        <td><%= best_in_place @member, :phone, :type => :input %></td>
      </tr>
      <tr>
        <td><label>Koliszoba:</label></td>
        <td><%= best_in_place @member, :room, :type => :input %></td>
      </tr>
      <tr>
        <td><label>Levelezési cím:</label></td>
        <td><%= best_in_place @member, :address, :type => :input %></td>
      </tr>
      <tr>
        <td><label>Egyetem kezdési éve:</label></td>
        <td><%= best_in_place @member, :univ_year, :type => :input %></td>
      </tr>
      <tr>
        <td><label>Bemutatkozás:</label></td>
        <td><%= best_in_place @member, :intro, :type => :textarea %></td>
      </tr>
      <tr>
        <td><label>Hobby:</label></td>
        <td><%= best_in_place @member, :hobby, :type => :input %></td>
      </tr>
      <tr>
        <td><label>SSO Login:</label></td>
        <td><%= @member.login %></td>
      </tr>
      <tr>
        <td><label>Törölve:</label></td>
        <td><%= best_in_place_if false, @member, :deleted,
                                 :type => :checkbox,
                                 :collection => ["No, thanks", "Yes, of course!"]
        %></td>
      </tr>
      <tr>
        <td><label>Munkahelyek:</label></td>
        <td><%= %></td>
      </tr>
    </table>

  </div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              members_path, :class => 'btn' %>
</div>
