<%- model_class = Member -%>

<div class="row">
  <div class="span3">
    <%= image_tag @member.gravatar_url(:size => 270),
                  :class => 'profile-img', :alt => '', :width => 270 %>

    <div class="profile-nick">
      <strong>
        <%= best_in_place @member, :nick, :type => :input %>
      </strong>
    </div>
  </div>
  <div class="span6">
    <h2>
      <%= best_in_place_if false, @member, :full_name, :type => :input %>
    </h2>

    <table id="member-data" class="table table-bordered">
      <tr>
        <td><label>E-mail:</label></td>
        <td><%= best_in_place @member, :email, :type => :input %></td>
        <td></td>
      </tr>
      <tr>
        <td><label>Telefonszám:</label></td>
        <td><%= best_in_place @member, :phone, :type => :input %></td>
        <td></td>
      </tr>
      <tr>
        <td><label>Koliszoba:</label></td>
        <td><%= best_in_place @member, :room, :type => :input %></td>
        <td></td>
      </tr>
      <tr>
        <td><label>Levelezési cím:</label></td>
        <td><%= best_in_place @member, :address, :type => :input %></td>
        <td></td>
      </tr>
      <tr>
        <td><label>Egyetem kezdési éve:</label></td>
        <td><%= best_in_place @member, :univ_year, :type => :input %></td>
        <td></td>
      </tr>
      <tr>
        <td><label>Felvétel éve:</label></td>
        <td><%= best_in_place @member, :enrollment_year, :type => :input %></td>
        <td></td>
      </tr>
      <tr>
        <td><label>Bemutatkozás:</label></td>
        <td><%= best_in_place @member, :intro, :type => :textarea %></td>
        <td></td>
      </tr>
      <tr>
        <td><label>Hobby:</label></td>
        <td><%= best_in_place @member, :hobby, :type => :input %></td>
        <td></td>
      </tr>
      <tr>
        <td><label>SSO Login:</label></td>
        <td>
          <a href="https://profile.sch.bme.hu/profile/show/uid/<%= @member.login %>"><%= @member.login %></a>
        </td>
        <td></td>
      </tr>
      <tr class="joblist">
        <td><label>Munkahelyek:</label></td>
        <td>
          <div class="accordion" id="accordion1">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#new_job_position">
                  <i class="icon-plus-sign"></i>
                  Új munkahely felvétele
                </a>
              </div>

              <%= render :partial => 'job_positions/ajaxform' %>
            </div>
          </div>

          <ul id="member_jobs_list">
            <%=
                render :partial => 'job_positions/list',
                       :locals => {:jobs => @member.job_positions}
            %>
          </ul>

        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td><label>Social:</label></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <div class="well" style="color: red">
      Archiválva: <%= best_in_place_if false, @member, :deleted,
                                       :type => :checkbox,
                                       :collection => %w(Nem Igen)
    %>
    </div>

  </div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              members_path, :class => 'btn' %>
</div>
